#mainBack {
    background-color: indianred;
    height: 100vh;
    width: 100vw;
    display: flex;
}

#titleWrap {
    background-color: forestgreen;
    height: 10vh;
    width: 30vw;
    font-size: 30px;
    justify-content: center;
}