#mainBack {
    background-color: indianred;
    /* height: 200vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleWrap {
    background-color: forestgreen;
    margin-top: 10vh;
    height: 10vh;
    width: 30vw;
    font-size: 30px;
    text-align: center;
}

#contentWrap {
    background-color: cyan;
    margin-top: 5vh;
    /* height: 100vh; */
    width: 90vw;
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

#broughtBy {
    font-style: oblique;
    font-size: medium;
}

#tagLine {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

#eximIm {
    border: solid firebrick;
    width: 45vw;
    height: 60vh;
    background-size: 100% 100%;
}

#eximButtonsWrap {
    display: flex;
    justify-content: space-around;
}

#eximDetails {
    font-size: 18px;
}

#theCityIm {
    background: url(/assets/5_Boroughs_Labels_New_York_City_Map_Julius_Schorzman.png);
    background-size: 500px 500px;
    height: 500px;
    width: 500px;
    display: grid;
    grid-auto-columns: 10%;
    grid-auto-rows: 10%;
}

#bronx {
    grid-column: 7;
    grid-row: 1;
    height: 135px;
    width: 100px;
}

#brooklyn1 {
    grid-column: 5 / 7;
    grid-row: 6 / 8;
    height: 140px;
    width: 100px;
    justify-self: center;
}

#brooklyn2 {
    grid-column: 7;
    grid-row: 6;
    height: 150px;
    width: 50px;
}

#brooklyn3 {
    grid-column: 6;
    grid-row: 5;
    margin-top: 14px;
    height: 35px;
    width: 40px;
    justify-self: center;
    align-self: center;
}

#manhattan1 {
    grid-column: 5 / 7;
    grid-row: 3;
    height: 100px;
    width: 40px;
    justify-self: center;
}

#manhattan2 {
    grid-column: 5;
    grid-row: 4;
    height: 96px;
    width: 40px;
    justify-self: end;
}

#manhattan3 {
    margin-left: 10px;
    grid-column: 6;
    grid-row: 2;
    height: 110px;
    width: 25px;
    justify-self: center;
}

#queens1 {
    grid-column: 8;
    grid-row: 4;
    height: 230px;
    width: 120px;
}

#queens2 {
    grid-column: 7;
    grid-row: 4;
    height: 100px;
    width: 50px;
}

#queens3 {
    grid-column: 6;
    grid-row: 4;
    height: 35px;
    width: 30px;
    justify-self: end;
    align-self: flex-end;
}

#staten1 {
    grid-column: 2;
    grid-row: 7;
    height: 140px;
    width: 120px;
}

#staten2 {
    grid-column: 1;
    grid-row: 9;
    height: 90px;
    width: 120px;
}


/* *********  CLASS SECTION  ************* */



.chapterTitle {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-bottom: solid darkviolet;
}

.splashIm {
    text-align: center;
    font-size: 300px;
    font-weight: 800;
}

.summary {
    font-size: 18px;
}

.eximbuttons {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}

.boroughButtons {
    background: none;
    border: none;
}